<% layout("/layouts/boilerplate") %>
<body>
    <h3>All listings</h3>
    
     <!-- <form method="GET" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
    <ul>
<div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-2 g-4">
  <% for (let listing of allListings) { %>
  <a href="/listings/<%=listing._id %> "  class="listing-link">
    <div class="col">
      <div class="card h-100 border-0">
        <img   src="<%= listing.image.url ? listing.image.url : 'https://images.unsplash.com/photo-1499793983690-e29da59ef1c2' %>"  class="card-img-top" alt="listing image" style="height:20rem">
        <div class="card-img-overlay">Gaurav</div>
        <div class="card-body">
          <p class="card-text">
            <b><%= listing.title %></b><br>
            ₹ <%= listing.price.toLocaleString("en-IN") %> /night
          </p>
        </div>
      </div>
    </div>
  </a>
  <% } %>
</div>


</ul>
    
</body>

